#top-bar{
    background: #e0e0e0;
    text-align: right;
    line-height: 40px;
}
body{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.container > span {
    
}

#phone-number{
    margin-right: 50px;
    font-size: 20px;
    color:orange ;
}

#phone-number img{
    border: 2px solid orange;
    padding: 5px;
    margin-right: 5px;
    vertical-align: middle;
}
#email-infor img{
    border: 2px solid black;
    padding: 6px 5px;
    margin-right: 10px;
    vertical-align: middle;
    
}